---
import DesignSystemLayout from '../../../../layouts/DesignSystemLayout.astro';
import { Gray } from '../../../../utils/design/color/gray';

const title = 'Gray';
---

<DesignSystemLayout>
  <div class="border-b-2 mb-[30px]">
    <h1>{title}</h1>
  </div>
  <div class="flex overflow-scroll border-b-2">
    {
      Gray.map((item) => {
        return (
          <div class="pt-[15px] pb-[15px]">
            <span class="block text-[16px] mb-[20px]">{item.name}</span>
            <span class={`${item.name} block w-full h-[70px] text-[16px] mb-[20px] min-w-[200px]`} />

            <div class="flex">
              {item.styles.map((style) => {
                return (
                  <span class="mr-[20px] text-[14px] text-slate-400">
                    {style.name} : {style.value}
                  </span>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</DesignSystemLayout>
