---
// export const prerender = true;

import '../styles/design/designSystemStyle.css';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';

const currentPage = new URL(Astro.request.url).pathname;
const { content } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div>
      <Header title={SITE_TITLE} />
      <div class="container">
        <LeftSidebar currentPage={currentPage} />
        <div class="md-box overflow-hidden">
          <slot />
        </div>
        <!--<RightSidebar content={content} />-->
      </div>
    </div>
    <style is:inline>
      .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: flex-start;
        max-width: 1200px;
        margin: 100px auto;
      }

      h1 {
        font-weight: bold;
      }
    </style>
  </body>
</html>
